

/* Add to MSpace/general.css */
html {
  scroll-behavior: smooth;
}

/* Back to Top Button Styling */
#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgb(88, 0, 188);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 40px; /* Makes it circular */
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s, transform 0.3s;
}

#backToTopBtn:hover {
  background-color: rgb(144, 51, 255);
  transform: translateY(-3px);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  font-optical-sizing: auto;
}

body{
  padding-top: 70px;
}

h4{
  color: rgb(88, 0, 188);
  font-size: 13px;
  display: inline-block;
  border-top: 1.5px solid;
  text-align: center;
  margin-bottom: 20px;
}

h3{
  font-size: 15px;
}

h2{
  font-size: 25px;
  margin-bottom: 10px;
}