#section1{
  background-image: linear-gradient(rgba(144, 0, 255, 0.7), rgb(144, 0, 255)),url("bg1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px;
  color: rgb(255, 255, 255);
}

#section1 p{
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 25px;
}

.hero-tag{
  background-color: rgba(255, 255, 255, 0.174);
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
}

#section1 h2{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  line-height: 50px;
}

#section1 h2 span{
  color: rgb(255, 208, 0);
}

#section1 .btn{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#section1 .hero{
  width: 80%;
}

.btn a{
  text-decoration: none;
  color: white;
}

.btn a button{
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.btn-book-container{
  display: flex;
  gap: 10px;
  background-color: rgba(255, 255, 255, 0.112);
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: solid 2px rgba(255, 255, 255, 0);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}

.btn-book-container svg{
  width: 20px;
}


.btn-view-container{
  display: flex;
  gap: 10px;
  text-decoration: none;
  background-color: rgb(255, 1, 221);
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
  border: solid 2px rgba(255, 255, 255, 0);
}

.btn-view-container svg{
  width: 20px;
}

.btn-book-container:hover, .btn-view-container:hover{
  border: solid 2px rgba(255, 255, 255, 0.404);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.192);
}

@media (max-width: 764px){

  #section1{
    padding: 100px;
  }

  #section1 .hero{
    width: 100%
  }

  #section1 p{
  font-size: 15px;
  }

  #section1 h2{
  font-size: 30px;
  line-height: 40px;
}

}

/*Why Choose Us Section (section 2)*/

#section2{
  background-color: rgb(250, 250, 250);
  padding: 100px;
  text-align: center;
}

#section2 .item-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

#section2 h3, #section4 h3{
  text-align: center;
  margin-bottom: 10px;
}

#section2 p, #section4 p{
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
  color: rgb(109, 109, 109);
}

#section2 .item-list, #section4 .item-list{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 40px 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#section2 .item-list p, #section4 .item-list p{
  font-size: 14px;
  margin: 0;
}

@media (max-width: 764px){
  #section2 .item-container{
  display: flex;
  flex-direction: column;
}
}

/*Section 3*/

#about{
  display: flex;
  gap: 30px;
  background-color: rgba(144, 0, 255, 0.055);
  padding: 150px;
}

#about img{
  flex: 1;
  border-radius: 5px;
  width: 100px;
  object-fit: cover;
}

#about .container{
  flex: 1;
  width: 100%;
}
#about h3{
  font-size: 20px;
  margin-bottom: 10px;
}

#about p{
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.712);
}

#about ul{
  padding: 15px;
}

#about ul li{
  font-size: 15px;
  line-height: 18px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.712);
}

@media (max-width: 764px){
  #about{
  display: flex;
  flex-direction: column;
  padding: 100px;
  }

  #about img{
  border-radius: 5px;
  width: 100%;
  object-fit: cover;
}

#about .container{
  width: 100%;
}
}

/*Section 4*/

#section4{
  background-image: linear-gradient(rgba(144, 0, 255, 0.7), rgb(144, 0, 255)),url("image/bg2.jpeg");
  padding: 100px;
}


#section4 .item-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#section4 h3{
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
}

.title-head{
  color: white;
  font-size: 25px;
  margin-bottom: 50px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

#section4 .item-list h3{
  color: rgb(96, 96, 96);
  font-size: 20px;
  margin: 15px 0;
}

.avatar-icon{
  background-color: rgb(144, 0, 255);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 8px rgb(240, 240, 240);
 
}

@media (max-width: 1100px){
  #section4{
    padding: 100px;
  }

  #section4 .item-container{
  display: flex;
  flex-direction: column;
  }
}


/*Section 5*/
#our-pod {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

#our-pod h3{
  font-size: 25px;
  margin-bottom: 25px;
  color: rgb(40, 40, 40);
}

.our-pod{
  display: flex;
  justify-content: center;
  gap: 20px;
}

#our-pod img{
  border-radius: 5px;
}

.pod-container{
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 50px;
}

.single-pod-container{
  background: linear-gradient(rgba(144, 0, 255, 0.7), rgb(144, 0, 255));
  padding: 50px;
  width: 30%;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

.pod-container h5{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.pod-container p{
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 15px;
}

.single-pod-container img{
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: 15px;
  margin-bottom: 20px;
}

.single-pod-container a button{
  width: 100%;
  padding: 8px;
  margin-top: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: rgb(88, 0, 188);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pod-container a button:hover{
  background-color: rgba(255, 255, 255, 0.845);
}

.single-pod-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.single-pod-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.single-pod-list h6{
  font-size: 13px;
  font-weight: 500;
}
.pod-check-i{
  background-color: rgb(61, 203, 71);
  border-radius: 30px;
  padding: 2px 8px;
  color: white;
  width: 90px;
  text-align: right;
}


/*Team-Pod*/

.team-pod-container{
  background-color: rgb(255, 255, 255);
  padding: 50px;
  width: 30%;
  border-radius: 10px;
  color: rgb(30, 30, 30);
  margin-bottom: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
}

@media (max-width:1100px){
  .pod-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 80px;
  }

  .single-pod-container, .team-pod-container{
    width: 80%;
  }
}

@media (max-width: 764px){
  .single-pod-container, .team-pod-container{
    width: 100%;
  }

  #our-pod h3{
  width: 50%;
  text-align: center;
  }
}


.team-pod-container h5{
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 600;
}

.team-pod-container p{
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 15px;
}

.team-pod-container img{
  background: linear-gradient(rgba(144, 0, 255, 0.7), rgb(144, 0, 255));
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: 15px;
  margin-bottom: 20px;
}

.team-pod-container a button{
  text-decoration: none;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  background: linear-gradient(rgba(144, 0, 255, 0.7), rgb(144, 0, 255));
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.team-pod-container a button:hover{
  background: linear-gradient(to top, rgba(144, 0, 255, 0.7), rgb(144, 0, 255));;
}

.team-pod-menu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team-pod-list{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.team-pod-list h6{
  font-size: 13px;
  font-weight: 500;
}
.team-pod-container .team-pod-list{
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.806);
}

.team-pod-check h6{
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}

#testimonial{
  background: linear-gradient(rgba(144, 0, 255, 0.7), rgb(144, 0, 255));
  padding: 75px 100px;
  color: white;
  text-align: center;
}

#testimonial h3, #contact h3{
  font-size: 25px;
  margin-bottom: 15px;
  text-align: center;
}

#testimonial h4{
  color: white;
}

#testimonial p{
  font-size: 15px;
  text-align: center;
}


#contact{
  margin: 80px 80px 100px 80px;
  padding: 50px;
  text-align: center;
}

@media (max-width:1100px){
  #contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-container{
    width: 100%;
  }

  .form-container{
    width: 100%;
  }
}

@media (max-width: 764px){
  #contact{
  margin: 80px 0 100px 0;
}
}


#contact-container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 50px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.contact-item{
  display: flex;
}

.contact-container img{
  width: 100%;
}

.form-container{
  flex: 1;
}

form input{
  display: block;
  width: 100%;
  padding: 10px 8px;
  margin-bottom: 17px;
  border-radius: 5px;
  border: solid 1.5px rgb(240, 240, 240);
  outline: none;
  font-size: 13px;
  background-color: rgba(221, 221, 221, 0.183);
  transition: all 0.3s ease;
}

form input:focus{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.263);
  border: solid 1px rgba(144, 0, 255);
}

form p{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.603);
  text-align: left;
}

form textarea{
  width: 100%;
  height: 100px;
  color: rgb(0, 0, 0);
  background-color: rgba(221, 221, 221, 0.183);
  padding: 10px 8px;
  font-size: 12px;
  resize: none;
  margin-bottom: 20px;
  border-radius: 5px;
  border: solid 1.5px rgb(240, 240, 240);
  outline: none;
  transition: all 0.3s ease;
}

form textarea:focus{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.263);
  border: solid 1px rgba(144, 0, 255);
}

form button{
  display: block;
  background: linear-gradient(rgba(144, 0, 255, 0.7), rgb(144, 0, 255));
  padding: 10px 15px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover{
  background: linear-gradient(to top, rgba(144, 0, 255, 0.7), rgb(144, 0, 255));
}

.contact-icon img{
  display: block;
  margin-right: 20px;
  margin-bottom: 10px;
}


.contact-address p{
  font-size: 14px;
  color: rgba(0, 0, 0, 0.603);
  margin-bottom: 10px;
  font-weight: 500;
  text-align: left;
}

.contact-p{
  font-size: 15px;
  text-align: center;
  margin-bottom: 80px;
}

.map iframe{
  width: 100%;
  height: 280px;
}

